### VisualStudioCode ###
.vscode

node_modules
npm-debug.log
.DS_Store
.tscache
.settings
.vscode/
test/.baseDir.ts
*.tmp.txt
jsconfig.json
.typings/
testresults
dist
reports/
src/resources/applitools.key.js